/* Content */
.ab-container {
    width: 500px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}
.cell {
    height: 50px;
    width: 50px;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
    background-color: lightblue;
    border: 1px solid white;
    border-radius: 3px;
}